<h1><%= @list.title %></h1>
<p>
	My Incomplete Tasks:
	<div class="container">
	  <div class="row">
	    <div class="panel-heading">
	    </div>
	    <table class="table">
	      <thead>
					<tr class="filters">
	          <button class="btn btn-default filter" id="filter-lists1" name="Filter Name" value="Filter Name">Filter Name</button>
	          <input type="text" id="list_name" class="form-control" placeholder="Name">
	          <button class="btn btn-default filter" id="filter-lists2" name="Filter Date" value="Filter Date">Filter Date</button>
	          <input type="text" id="list_date" class="form-control" placeholder="Due Date">
	          <button class="btn btn-default filter" id="filter-lists3" name="Filter Status" value="Filter Status">Filter Status</button>
	          <input type="text" id="list_status" class="form-control" placeholder="Status"><br><br>
	          <th>Task #</th>
						<th>Name</th>
						<th>Date</th>
						<th>Status</th>
	        </tr>
	      </thead>
				<tbody class="all-lists">
						<% @list.tasks.each do |task| %>
							<% if task.incomplete? %>
				  <tr class="LISTS">
					    <td class="id"><h4>Task <%=task.id%>:
					    <td class="name"><%= link_to task.title, list_task_path(@list.id, task.id)%></td>
					    <td class="due_date"><%= task.due_date %></td>
					    <td class="status"><%= task.true? %></td>
							<% end %>
						<% end %>
				  </tr>
				</tbody>
			</table>
			<%= link_to "See All Tasks", archive_path, class: "archived" %>
		</div>
	</div>
</p>
  Add a Task to the <%= @list.title %> List:
<%= render partial: 'tasks/form' %><br><br>
<%= link_to "<< Back to Lists Index", lists_path %>
