<div id="task">
  <strong>Task:</strong> <%= @task.title %><br>
  <strong>Description: </strong><%= @task.description %><br>
  <strong>Status: </strong><%= @task.true? %><br>
  <strong>Due Date: </strong><%= @task.due_date %><br>
  <strong>Picture: </strong><%= image_tag @task.pdf.url(:medium) %>
</div>
<%= button_to "Delete Picture", delete_pic_path(pdf: @task.pdf)  %>
<%= link_to "Edit Task", edit_list_task_path(id: @task.id) %>
